<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rajasahabacademy">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:fullBackupContent="true"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/ic_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.RajaSahab">
        <activity
            android:name=".activity.current_affair.activity.CurrentAffairDetailActivity"
            android:exported="true" />
        <activity
            android:name=".activity.current_affair.activity.CurrentAffairActivity"
            android:exported="true" />
        <activity
            android:name=".activity.job_alert.activity.JobDetailActivity"
            android:exported="true" />
        <activity
            android:name=".activity.job_alert.activity.JobAlertActivity"
            android:exported="true" />
        <activity
            android:name=".activity.short_video.activity.ShortVideoActivity"
            android:exported="true" />
        <activity
            android:name=".activity.research_cart.activity.ResearchCartActivity"
            android:exported="true" />
        <activity
            android:name=".activity.research_cart.activity.ResearchPaperDetailActivity"
            android:exported="true" />
        <activity
            android:name=".activity.research_cart.activity.ResearchPaperActivity"
            android:exported="true" />

        <activity
            android:name=".activity.bookmark.activity.BookmarkVideoActivity"
            android:exported="true" />
        <activity
            android:name=".activity.bookmark.activity.BookmarkActivity"
            android:exported="true" />
        <activity
            android:name=".activity.my_save_ebook.activity.MySaveEbookActivity"
            android:exported="true" />
        <activity
            android:name=".activity.my_save_video.activity.MySavedVideoActivity"
            android:exported="true" />
        <activity
            android:name=".activity.quiz.activity.QuizInstructionsActivity"
            android:exported="true" />
        <activity
            android:name=".activity.view_solution.ViewSolutionActivity"
            android:exported="true" />
        <activity
            android:name=".activity.quiz.activity.QuizAttemptedActivity"
            android:exported="true" />
        <activity
            android:name=".activity.youtube.YoutubeVideoPlayActivity"
            android:exported="true" />
        <activity
            android:name=".activity.pdf_view.PdfViewActivity"
            android:exported="true" />
        <activity
            android:name=".activity.video.activity.VideoActivity"
            android:exported="true" />
        <activity
            android:name=".activity.notes_view.activity.NotesViewActivity"
            android:exported="true" />
        <activity
            android:name=".activity.quiz.activity.QuizRankActivity"
            android:exported="true" />
        <activity
            android:name=".activity.quiz.activity.QuizQuestionAnsActivity"
            android:exported="true" />
        <activity
            android:name=".activity.refund_cancel.RefundCancellationActivity"
            android:exported="true" />
        <activity
            android:name=".activity.terms_condition.TermsConditionActivity"
            android:exported="true" />
        <activity
            android:name=".activity.about_us.activity.AboutUsActivity"
            android:exported="true" />
        <activity
            android:name=".activity.quiz.activity.QuizReadyForTestActivity"
            android:exported="true" />
        <activity
            android:name=".activity.chat.activity.ChatActivity"
            android:exported="true" />
        <activity
            android:name=".activity.contact_us.ContactUsActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.notification.activity.NotificationActivity"
            android:exported="true" />
        <activity
            android:name=".activity.quiz.activity.QuizAccToSubjectListActivity"
            android:exported="true" />
        <activity
            android:name=".activity.privacy_policy.PrivacyPolicyActivity"
            android:exported="true" />
        <activity
            android:name=".activity.cart.activity.CartActivity"
            android:exported="true" />
        <activity
            android:name=".activity.my_order.activity.MyOrdersActivity"
            android:exported="true" />
        <activity
            android:name=".activity.course_detail.activity.CourseTopicPdfActivity"
            android:exported="true" />
        <activity
            android:name=".activity.course_detail.activity.CourseDetailActivity"
            android:exported="true" />
        <activity
            android:name=".activity.course_detail.activity.CourseTopicVideoActivity"
            android:exported="true" />
        <activity
            android:name=".activity.otp.OtpActivity"
            android:windowSoftInputMode="stateHidden"
            android:exported="true"/>
        <activity
            android:name=".activity.home.activity.HomeActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.profile.activity.ProfileActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activity.login.activity.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.razorpay.RzpTokenReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>





        <activity
            android:name=".activity.payment.activity.PaymentActivity"
            android:exported="true" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_1C0zNQIulD5zCk"/>



        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


    </application>

</manifest>